.Placeholder-Section h1 {
  font-size: 3em;
}

.Placeholder-Section h2 {
  font-size: 2em;
}

.Placeholder-Section h3 {
  font-size: 28px;
}

.Placeholder-Section h4 {
  font-size: 24px;
}

/* Placeholder Elements */

.Placeholder-Section span {
  padding: 5px;
  font-weight: 600;
  font-size: 24px;
  font-family: 'Roboto';
  color: white;
}

.PlaceholderBoxOne {
  background-color: rgb(155, 155, 155);
}
.PlaceholderBoxTwo {
  background-color: rgb(155, 155, 155);
}
.PlaceholderBoxThree {
  background-color: rgb(155, 155, 155);
}

.PlaceholderBoxOne,
.PlaceholderBoxTwo,
.PlaceholderBoxThree {
  padding: 14px;
  width: 550px;
  height: 550px;
  border-radius: 15%;
}

.SubPage-Placeholder {
  width: 100%;
  margin: auto;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Placeholder-Section {
  margin-left: 10%;
  margin-right: 10%;
}

/* Adjusting sizing based on screensizes*/

@media screen and (max-width: 2260px) {
  .SubPage-Placeholder {
    margin: 5px;
    padding: 5px;
  }

  .PlaceholderBoxOne,
  .PlaceholderBoxTwo,
  .PlaceholderBoxThree {
    padding: 10px;
    border-radius: 15%;
    margin: 5px;
  }
}

@media screen and (max-width: 1250px) {
  .SubPage-Placeholder {
    display: inline-block;
    position: relative;
    left: 110px;
    width: 99%;
    margin: auto;
    padding: 10px;
    transition: 0.4ms;
  }
  .PlaceholderBoxOne,
  .PlaceholderBoxTwo,
  .PlaceholderBoxThree {
    width: 400px;
    height: 400px;
    float: left;
    margin: 10px;
    transition: 0.4ms;
  }
}

@media screen and (max-width: 1180px) {
  .SubPage-Placeholder {
    left: auto;
    width: 99%;
    margin: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    transition: 0.4ms;
  }
}

@media screen and (max-width: 780px) {
  .SubPage-Placeholder {
    width: 90%;
    margin: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
  }

  .PlaceholderBoxOne,
  .PlaceholderBoxTwo,
  .PlaceholderBoxThree {
    margin: 0;
    padding: 10px;
    width: 300px;
    height: 300px;
    border-radius: 15%;
    margin: 5px;
  }
}
