/* Donation Styling*/
p {
  line-height: 36px;
}
.DonationSection h1 {
  font-size: 2.8em;
}
.DonationSection h2 {
  font-size: 2.4em;
}
.DonationSection h3 {
  padding: 15px;
  margin: auto;
  font-size: 28px;
}
.DonationSection h4 {
  font-size: 24px;
  padding: 10px;
  padding-right: 5px;
}

.DonationSection span {
  font-weight: 500;
  font-size: 22px;
  font-family: 'Roboto';
}

.DonationSection {
  margin: auto;
  margin-bottom: 35px;
  padding: 15px;
  display: flex;
  justify-content: center;
  color: white;
  max-width: 158.8rem;
}

.Donation-Rectangle {
  width: 80%;
  height: 650px;
  background-color: var(--SecondaryColorAlt);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  border-color: var(--secondaryColor);
  border: 2px solid;
}

.Donation-Rectangle ul,
.Donation-Rectangle li {
  display: block;
  padding: 5px;
}

.Donation-Rectangle img {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.Image-BoxD {
  max-width: 50%;
  height: auto;
  overflow: hidden;
  border-radius: 15px 0 0 15px;
}

.Donation-Text {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 15px;
  margin: 0;
  text-align: left;
  font-size: 18px;
  font-family: 'Roboto';
  line-height: 1.52;
}

.Donation-Text p {
  padding: 15px;
  flex: 1;
}

.donate-button {
  border: none;
  width: 240px;
  border-radius: 10px;
  padding: 12px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.8px;
  background: linear-gradient(
    180deg,
    var(--ButtonColour) 80%,
    rgb(86.33, 141.84, 159.38) 130%
  );
  color: white;
  margin: 10px 15px;
  margin-left: auto;
  box-shadow: 0 0 0 100vmax inset rgb(0 0 0 / var(--o, 0%));
  transition: 0.4s;
}

.donate-button:hover {
  --o: 10%;
  font-family: 'Roboto-Bold';
  z-index: 1;
  cursor: pointer;
}

/* Adjusting sizing based on screensizes*/
@media screen and (max-width: 1912px) {
  .Donation-Rectangle {
    width: 90%;
    margin: 5px;
    justify-content: flex-start;
    overflow: hidden;
    height: auto;
  }

  .Image-Box img {
    position: relative;
    max-width: 100%;
    height: auto;
    border-radius: 0;
    float: right;
  }

  .Image-Box {
    border-radius: 0;
    transition: 0.3s;
  }

  .Donation-Text {
    padding: 5px;
    width: 100%;
    white-space: normal;
  }
}

@media screen and (max-width: 1630px) {
  .Donation-Rectangle {
    width: 90%;
    justify-content: space-around;
    flex-direction: row;
  }

  .Donation-Text {
    max-width: 100%;
  }

  .Image-Box img {
    float: right;
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .Donation-Rectangle {
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
  }

  .DonationSection {
    max-width: 100%;
    order: 1;
  }

  .Donation-Rectangle img {
    order: 2;
  }
  .Image-Box {
    max-width: 100%;
  }
}
