/* default style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  min-height: 30px;
  height: 100px;
  width: 100%;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(13px + 1vmin);
  background-color: #f0f2f5;
  -webkit-box-shadow: 0px 0px 20px 5px #e1e1e1;
  box-shadow: 0px 0px 20px 5px #e1e1e1;
  position: relative;
  z-index: 1000;
  transition-duration: 0.1s;
}

header button {
  font-family: 'Roboto';
  border: none;
  background-color: transparent;
  color: black;
  font-weight: 600;
  font-size: large;
  cursor: pointer;
  padding: 8px;
  transition: 0.4s;
}

header button:hover {
  color: var(--ButtonColour);
  cursor: pointer;
}

.profileLinkContainer {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

li {
  display: inline-block;
  position: relative;
}

li.profilePhoto ::before {
  content: none;
}

li ::before {
  content: '\2022'; /* Unicode character for a bullet point (•) */
  color: var(--ButtonColour); /* Adjust the color as needed */
  position: absolute;
  width: 0.26rem;
  height: 0.26rem;
  left: 50%;
  bottom: 0;
  margin-top: 0.5rem;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

li :hover::before {
  opacity: 1;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding: 8px;
  transition: 0.4s;
  cursor: pointer;
}

a:hover {
  color: var(--ButtonColour);
}

/* logo  */
.logo {
  text-decoration: none;
  font-size: 28px;
  color: var(--mainColor) !important;
  margin-right: 15px;
}

/* navbar */
.navbar {
  top: 0;
  left: 0;
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  gap: 40px;
  min-height: 70px;
}

.navbar p {
  padding: 10px 10px;
}

/* Profile in the Menu when user is logged in */
.navbar .profilePhoto {
  display: flex;
  justify-content: space-between;
}

.navLink {
  display: flex;
  align-items: center;
}

.navbar .profileText {
  display: flex;
  align-items: center;
}

.userIcon {
  border: 2px solid #3d4242;
  border-radius: 49%;
  padding: 8px;
  background-color: #edf0ef;
  flex: 1; /* Take up 50% of the space */
  vertical-align: -5px;
  max-width: 90px;
  margin-right: 5px;
}

.navbar .profileText:hover {
  color: var(--ButtonColour);
  cursor: pointer;
}

.userIcon:hover {
  border-color: var(--mainColor);
  background-color: #28615e;
}

/* ul  */
.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

ul li a.active {
  color: #00a8ff;
}

/* media queries */
@media screen and (max-width: 1220px) {
  header {
    font-size: calc(9px + 1vmin);
  }
  .navbar {
    gap: 30px;
  }
  .navMenu {
    gap: 30px;
  }
}

@media screen and (max-width: 1112px) {
  header {
    font-size: calc(10px + 1vmin);
  }
  .profileText {
    font-size: calc(11px + 1vmin);
  }
}

@media screen and (max-width: 780px) {
  /* hamburger */
  .hamburger {
    display: block;
    cursor: pointer;
  }

  header .navbar .profileText {
    display: inline;
    font-size: calc(13px + 1vmin);
  }

  .bar {
    background-color: #120f0b;
    width: 30px;
    height: 3px;
    display: block;
    margin: 5px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  .navbar {
    top: 0;
    left: 0;
    display: flex;
    padding: 23px 20px;
    justify-content: center;
    gap: 30px;
    min-height: 65px;
  }

  .navbar Button {
    display: inline-block;
  }

  /* adding active class to the bars  */
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* navMenu */

  .navMenu {
    position: absolute;
    flex-direction: column;
    gap: 0;
    top: 70px;
    left: -100%;
    text-align: start;
    width: 100%;
    transition: 0.7s ease-in-out;
    background-color: aliceblue;
    padding: 10px;
    font-size: large;
  }

  .navMenu.active {
    left: 0;
  }
  /* Profile in the Menu when user is logged in */

  .profilePhoto a {
    overflow: hidden;
    padding: 0;
  }

  .profilePhoto a ::before {
    content: '\2022'; /* Unicode character for a bullet point (•) */
    color: var(--ButtonColour); /* Adjust the color as needed */
    position: absolute;
    width: 0.26rem;
    height: 0.26rem;
    left: 50%;
    bottom: 0;
    margin-top: 0.5rem;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
  }

  .profilePhoto a :hover::before {
    opacity: 1;
  }

  .profileText {
    display: block;
  }

  .profilePhoto {
    transition: opacity 0.3s;
  }
  .profilePhoto :hover {
    color: var(--ButtonColour);
  }
  .navMenu li {
    margin: 16px 0;
  }
}
