.blue-box {
  background-color: rgba(86, 142, 159, 0.916);
  font-family: 'Roboto', Helvetica;
  padding: 20px;
  padding: 20px;
  width: 90%;
  margin: 20px auto; /* Box centered horizontally */
  border-radius: 10px;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;
  min-height: 100vh;
}

.title-h3 {
  font-family: 'Roboto', Helvetica;
  font-size: 21px;
  color: var(--TextColor);
  text-align: left;
}

.white-box {
  font-family: 'Roboto', Helvetica;
  background-color: var(--TextColorSecondary);
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 800px;
  flex: 1;
  display: flex;
}

/* Personal info */

.profile-title {
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.personal-info-content {
  flex: 1; /* Take up 50% of the space */
  text-align: center;
  border: 3px solid var(--highlightColor);
  border-radius: 15px 0px;
  padding: 20px;
}

.info-field {
  display: flex;
  justify-content: end;
  text-align: left;
  font-family: 'Roboto', Helvetica;
}

.info-field .span-info {
  margin-right: 10px;
  display: flex;
  justify-content: start;
}

.white-box .title-h3 {
  margin-bottom: 15px;
  font-size: 21px;
}

/* Profile photo icon */

.profile-photo {
  flex: 1; /* Take up 50% of the space */
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-icon {
  padding: 20px 0px 20px 0px;
  color: grey;
  background-color: rgb(237, 235, 235);
  flex: 1; /* Take up 50% of the space */
  max-width: 150px;
  height: 100px;
  border: 4px solid rgba(34, 32, 32, 0.686);
  border-radius: 80%;
}

.profile-icon:hover {
  border: 4px solid var(--mainColor);
  color: #515151bd;
  background-color: var(--mainColorLight);
  cursor: pointer;
}

/* About you */

.about-you-content,
.answer-text {
  text-align: left;
  align-items: center;
  display: block;
}

.answer-text textarea,
.answer-text input {
  width: 100%;
  box-sizing: border-box; /* Include padding and border in the width */
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Roboto', Helvetica;
}

/* Availability */

.availability-content {
  text-align: left;
  align-items: center;
  display: block;
}

.availability-field {
  margin-bottom: 15px;
}

/* Availability Buttons */

.availability-buttons {
  display: flex;
  justify-content: center;
}

.availability-buttons button {
  background-color: var(--highlightColor);
  color: white;
  margin-right: 5px;
  border: none;
  border-radius: 10px;
  padding: 20px 32px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Roboto', Helvetica;
  font-size: 16px;
  font-weight: 500;
}

.availability-buttons button:hover {
  background-color: var(--mainColorLight);
  color: var(--TextColor);
}

/* Button is clicked */
.availability-buttons button.clicked-button {
  background-color: var(--mainColor);
  color: white;
  border: thin solid var(--TextColor);
}

/* Interests */

.last-box {
  font-family: 'Roboto', Helvetica;
  background-color: var(--TextColorSecondary);
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 800px;
}

.interests-content {
  text-align: left;
  align-items: center;
}

.checkLists {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.checkList {
  margin: 20px;
  border: 3px solid var(--highlightColor);
  border-radius: 15px 0px;
  padding: 30px;
  min-width: 350px;
  max-width: 500px;
}

.title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.list-container {
  display: flex;
  flex-direction: column;
}

.list-container > div {
  margin-bottom: 5px;
}

.checked-item {
  color: var(--mainColor);
  font-weight: bold;
}

.not-checked-item {
  color: var(--TextColor);
}

/* Save Button */

.save-button {
  background-color: var(--highlightColor);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 20px 32px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Roboto', Helvetica;
  font-size: 25px;
  font-weight: 600;
  margin-top: 20px;
}

.save-button:hover {
  background-color: var(--mainColorLight);
  color: var(--TextColor);
}
