/* Volunteering Opportunities Element */

.mainSectionOpportunities h1 {
  font-size: 2.8em;
}
.mainSectionOpportunities h2 {
  font-size: 2.3em;
  padding-bottom: 5px;
  color: var(--textColor);
}

.mainSectionOpportunities h3 {
  font-size: 28px;
}
.mainSectionOpportunities h4 {
  font-size: 24px;
}

.mainSectionOpportunities {
  margin: auto;
  padding: 15px;
  margin-left: 10%;
  margin-right: 10%;
}

.dividerOpp {
  display: flex;
  gap: 55px;
  justify-content: space-between;
}

.opportunitySection h2 {
  color: black;
}

.Opportunities {
  width: 500px;
  padding: 5px;
  border-radius: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 36px;
}

.TextSection {
  padding: 5px 10px 10px 10px;
  margin: auto;
  color: white;
}

.TextSection p {
  padding: 5px 10px 10px 10px;
  margin: auto;
  text-align: left;
  color: aliceblue;
  font-weight: 200;
  font-size: 18px;
  font-family: 'Roboto';
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.TextSection h4 {
  display: flex;
  margin: 0;
  padding: 0px 0px 5px 5px;
}

.breaker hr {
  color: black;
  display: flex;
  height: 1px;
  margin: 20px auto;
  opacity: 0.3;
  max-width: 80%;
}

/* maybe great for future usage? Styling for VolunPeers name*/

.CompanyName {
  font-weight: 700;
  font-size: 38px !important;
  color: var(--mainColor) !important;
}

.ReadMoreButton {
  width: 120px;
  border-radius: 0px 0px 10px 10px;
  padding: 5px;
  border: none;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  background-color: var(--mainColor);
  background: linear-gradient(
    180deg,
    var(--mainColor) 0%,
    rgb(86.33, 141.84, 159.38) 100%
  );
  margin: 0;
  margin-left: auto;
  color: aliceblue;
  box-shadow: 0 0 0 100vmax inset rgb(0 0 0 / var(--o, 0%));
  transition: 0.4s;
}

.ReadMoreButton:hover {
  --o: 10%;
  font-family: 'Roboto-Bold';
  z-index: 1;
  cursor: pointer;
}

.OpportunityButtonMain {
  border: none;
  cursor: pointer;
  width: 240px;
  border-radius: 10px;
  padding: 12px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.8px;
  background: linear-gradient(
    180deg,
    var(--ButtonColour) 80%,
    rgb(86.33, 141.84, 159.38) 130%
  );
  color: white;
  margin: 15px;
  box-shadow: 0 0 0 100vmax inset rgb(0 0 0 / var(--o, 0%));
  transition: 0.4s;
}

.OpportunityButtonMain:hover {
  --o: 10%;
  font-family: 'Roboto-Bold';
  z-index: 1;
}

.Opportunities img {
  width: 100%;
  object-fit: cover;
  padding: 10px 0px 0px 0px;
  position: relative;
  display: block;
}
.mainSectionOpportunities span {
  font-weight: 600;
  font-size: 24px;
  font-family: 'Roboto';
  color: white;
}

.Date {
  padding: 5px;
  padding-bottom: 0;
  display: flex;
  font-weight: 400;
  font-size: 20px !important;
  justify-content: flex-end;
  margin: 1%;
  margin-bottom: 0;
}

.OpportunityTitle {
  background-color: var(--SecondaryColorAlt);
  border-radius: 15px 15px 0px 0px;
  position: relative;
}

.OpportunityTitle h1 {
  padding: 5px;
  margin-left: 8px;
  font-family: 'Montserrat-Bold', 'Roboto', Helvetica;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0.22px;
  color: white;
  text-align: left;
}

.OpportunityTitle h2 {
  padding: 15px;
  margin-left: 8px;
  font-family: 'Montserrat-Bold', 'Roboto', Helvetica;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0.22px;
  color: white;
  text-align: left;
}

.OpportunityTitle h3 {
  padding: 15px;
  font-family: 'Montserrat-Bold', 'Roboto', Helvetica;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0.22px;
  color: white;
  text-align: left;
}

.OpportunityTitle h4 {
  padding: 10px;
  margin-left: 8px;
  font-family: 'Montserrat-Bold', 'Roboto', Helvetica;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0.22px;
  color: white;
  text-align: left;
}

.mainSectionOpportunities .Location {
  padding-top: 15px;
  position: absolute;
  left: 20px;
  z-index: 1;
  top: 24%;
  text-shadow: 0px 4px 4px #00000040;
}

.Theme {
  display: inline;
  z-index: 2;
  margin-right: 75%;
}
.volunteeringOpportunity {
  background-color: var(--mainColor);
  border-radius: 15px 15px 0px 15px;
}
.opportunitySection {
  margin: auto;
  padding: 20px 20px 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

@media screen and (max-width: 1112px) {
  .dividerOpp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .cover-container h1 {
    font-size: 2rem;
  }

  .Opportunities {
    width: 400px;
  }

  .mainSectionOpportunities .Location {
    padding-top: 25px;
  }

  .Theme {
    margin-right: 70%;
  }

  .mainSectionOpportunities {
    padding: 0;
    margin-left: 5%;
    margin-right: 1%;
  }
}
